@model LoginViewModel
@section style{
    <link rel="stylesheet" href="~/css/login.css">
}
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form asp-route="Login">
            <h1>登录</h1>
            <div class="social-container">
                @*<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>*@
                @if (Model.VisibleExternalProviders.Any())
                {
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
                        <a class="btn btn-default"
                           asp-controller="External"
                           asp-action="Challenge"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            @provider.DisplayName
                        </a>
                    }
                }
            </div>
            <span>第三方账号登录</span>
            <input placeholder="用户名" asp-for="Username" autofocus>
            <input type="password" placeholder="密码" asp-for="Password" autocomplete="off">
            @*<a href="#">忘记密码？</a>*@
            <button type="submit" name="button" value="login">登录</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>欢迎回来！</h1>
                <p>请您先登录的个人信息，进行操作。</p>
                <button class="ghost" id="signIn">登录</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>你好朋友！</h1>
                <p>输入您的个人信息注册成为会员。</p>
                <button class="ghost" name="button" asp-controller="Account" asp-action="Register">注册</button>
            </div>
        </div>
    </div>
</div>