@{
    ViewData["Title"] = "拒绝进入";
}
<br />
<header>
    <div class="alert alert-danger">
        <h2 class="text-danger">@ViewData["Title"]</h2>
    </div>
    <p class="text-danger">您无法访问此资源。</p>
</header>
