@model string

<div class="page-header">
    <h1>
        用户代码
    </h1>
    <p>
        请输入显示在您的设备上的代码
    </p>
    <form asp-action="UserCodeCapture" method="post">
        <input for="userCode" name="userCode" />
        <button class="btn btn-primary">Submit</button>
    </form>
</div>